<?xml version="1.0"?>
<rss version="2.0">
<channel>
	<title><TMPL_VAR name></title>
	<link><TMPL_VAR link></link>
	<language>en</language>
	<description><TMPL_VAR name> - <TMPL_VAR link></description>

<TMPL_LOOP Items>
<item>
	<title><TMPL_VAR channel_name><TMPL_IF title>: <TMPL_VAR title></TMPL_IF></title>
	<guid><TMPL_VAR id></guid>
	<link><TMPL_VAR link></link>
	<TMPL_IF content>
	<description><TMPL_VAR content ESCAPE="HTML"></description>
	</TMPL_IF>
	<pubDate><TMPL_VAR date_822></pubDate>
</item>
</TMPL_LOOP>

</channel>
</rss>
